// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

 body {
    background-color: #252830;
  }

  .sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    background: #f8f9fa;
}


#page-wrapper
{
  color: #fff;
}

.card
{
  color: #000;
  margin-bottom: 15px;
}

.col-form-label
{
  color: #000;
}

.action-bar
{
  text-align: right;
  margin-bottom: 20px;
  color: #000;
}

.modal-content
{
  color: #000;
}